{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "ecmaVersion": 12,
      "sourceType": "module"
    },
    "rules": {
        "react/jsx-sort-props": [
            "warn",
            {
              "callbacksLast": true
            }
          ],
    },
    "extends": [
      "plugin:@typescript-eslint/recommended", 
      "next/core-web-vitals", 
      "eslint:recommended", 
      "prettier"
    ]
}
